.child-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: auto;
    overflow: hidden;
}

.child-container h2 {
    text-align: center;
    margin: 0 0;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    color: black;
}

.child-container p {
    text-align: center;
    margin: 0 0;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.child-container button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.child-container img {
    width: 100%;
    height: 250px;
}

#parent-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

body h1 {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}